body {
    font-family: Verdana, Geneva, sans-serif;
}

h2 {
    display: inline-block;
}

.github-link {
    float: right;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 20px;
}

div {
    display: inline-block;
}

.red {
    color: red;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #E4E3E3;
    text-align: center;
}
